version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
      time: "00:00"
      timezone: "Etc/UTC"
    cooldown:
      default-days: 7
    groups:
      eslint:
        patterns:
          - "*eslint*"
      aws-sdk:
        patterns:
          - "@aws-sdk/*"
    ignore:
      - dependency-name: "@types/node"
        update-types: ["version-update:semver-major"]
      - dependency-name: "uuid"
        update-types: ["version-update:semver-major"]
  - package-ecosystem: "github-actions"
    directory: ".github/workflows"
    schedule:
      interval: "monthly"
      time: "00:00"
      timezone: "Etc/UTC"
    cooldown:
      default-days: 7
