name: Deploy
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
    dev-deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
              with:
                  path: "upload-service"
            - uses: actions/setup-node@v1
              with:
                node-version: '10.x'
                registry-url: 'https://npm.pkg.github.com'
            - run: npm install
            - name: Create a tar archive
              run: |
                cd $GITHUB_WORKSPACE
                tar --exclude=.git* -czvf uploade-service.tar.gz upload-service
            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v1
              with:
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: ${{ secrets.AWS_DEFAULT_REGION }}
            - name: Copy package to S3
              run: |
                aws s3 cp upload-service.tar.gz s3://permanent-repos/dev/upload-service.tar.gz

